{%extends 'everything/base.html'%}

{% block content %}
{{block.super}}

<div class="container">

  <!-- Looping through news   -->
  {% for images_item in images %}

    <div class="row">
      <!-- displaying title -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-12">
        <h2 class="text-center"> {{ images_item.title }}</h2>
      <!--Display  images  -->

        <img src="{{images_item.i_images.url}}" class="img-responsive" alt="Image">

        <p> <a href="imagedetails/{{news_item.id}}">View details</a>  </P>

        <p>Location: {{ images_item.locations }}</p>
        <p>Categories: {{ images_item.category}}</p>
    </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There are no images to view currently</h2>
  </div>
  {% endfor %}



</div>


{% endblock %}
